<div class="wrapper">
  <div>
    <h1 class="text-[2rem] font-semibold text-neutral-900 text-center mb-4">Blogify</h1>
    <span class="text-[1.5rem] font-medium text-neutral-700 text-center">Verify your email address</span>
  </div>

  @if (!verified) {
    <div class="mt-4 w-full">
      <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="code">Activation Code</label>
          <input class="input-box" type="text" id="code" placeholder="A3JsW9" formControlName="code">
          @if (formError && (formControls['code'].errors && formControls['code'].errors['required'])) {
            <span>*Activation code is required</span>
          }
    
          @if (formError && ((formControls['code'].errors && formControls['code'].errors['minlength'])) || formControls['code'].errors && formControls['code'].errors['maxlength']) {
            <span>*Activation code must be 6 character long.</span>
          }
        </div>
    
        <br>
       
        <div class="flex flex-col gap-2">
          <button class="button" type="submit">Verify</button>
          <button class="border-button" type="button" (click)="resend()">Resend Code</button>
        </div>
      </form>
    </div>  
  } @else {
    <div class="w-full gap-2 flex flex-col justify-center items-center p-8 rounded-lg mt-4 bg-neutral-100">
      <h1 class="text-3xl text-gray-900 font-bold">Email Verifed</h1>
      <span class="text-base">Your email address successfully verified</span>
      <button class="border-button" type="button" (click)="continue()">Continue</button>
    </div>
  }
</div>