<div class="wrapper">
  <p>Welcome back! Please log in to continue. </p>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="petergriffin@familyguy.io" formControlName="email">
      @if (formError && (formControls['email'].errors && formControls['email'].errors['required'])) {
        <span class="error">*Email is required</span>
      }

      @if (formError && (formControls['email'].errors && formControls['email'].errors['email'])) {
        <span class="error">*Enter a valid email</span>
      }
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Peter$e3ret" formControlName="password">
      @if (formError && (formControls['password'].errors && formControls['password'].errors['required'])) {
        <span class="error">*Password is required</span>
      }

      @if (formError && (formControls['password'].errors && formControls['password'].errors['minlength'])) {
        <span class="error">*Password must contain at least 8 characters.</span>
      }
    </div>

    <br>
   
    <div class="btn-group">
      <button type="submit">Login</button>
      <button type="button" (click)="toggleCreateAccount()">Create Account</button>
    </div>
  </form>
</div>