<div class="wrapper">
  <p>Welcome! Sign up to start your blog.</p>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" placeholder="Peter" formControlName="firstName">
      @if (formError && (formControls['firstName'].errors && formControls['firstName'].errors['required'])) {
        <span class="error">*Firstname is required</span>
      }
    </div>

    <div class="input-group">
      <label for="lastName">Last name</label>
      <input type="text" id="lastName" placeholder="Griffin" formControlName="lastName">
      @if (formError && (formControls['lastName'].errors && formControls['lastName'].errors['required'])) {
        <span class="error">*Lastname is required</span>
      }
    </div>

    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="petergriffin@familyguy.io" formControlName="email">
      @if (formError && (formControls['email'].errors && formControls['email'].errors['required'])) {
        <span class="error">*Email is required</span>
      }

      @if (formError && (formControls['email'].errors && formControls['email'].errors['email'])) {
        <span class="error">*Enter a valid email</span>
      }
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Peter$e3ret" formControlName="password">
      @if (formError && (formControls['password'].errors && formControls['password'].errors['required'])) {
        <span class="error">*Password is required</span>
      }

      @if (formError && (formControls['password'].errors && formControls['password'].errors['minlength'])) {
        <span class="error">*Password must contain at least 8 characters.</span>
      }
    </div>

    <br>
   
    <div class="btn-group">
      <button type="submit">Create Account</button>
      <button type="button" (click)="toggleCreateAccount()">Login</button>
    </div>
  </form>
</div>