<div class="flex flex-col border-[.1em] border-lime-600 p-4 rounded-lg gap-4" [class]="comment.is_owned? 'bg-lime-600/10':'bg-white'">
  <div class="flex items-start justify-between gap-1 flex-wrap">
    <div class="flex flex-col gap-0.5">
      <span class="text-sm text-black font-semibold flex gap-2 items-center">
        <div class="w-8 h-8 overflow-hidden rounded-[100%] border-[.1em] border-gray-200">
          <img class="w-full h-full object-cover" [src]="comment.author_img?'http://localhost:8080/blog-api/v1/image/'+comment.author_img:'asset/profile.jpg'">
        </div>

        {{ comment.author }}
      </span>
      <span class="text-sm text-gray-700">{{ '✨ ' + getDate(comment.created_at) }}</span>
    </div>

     @if (comment.is_owned && message != comment.message) {
        <div class="btn-opt gap-2 py-1">
          @if(!updateToggle) {
            <button class="w-[1.2rem] h-[1.2rem] rounded-full text-[.7rem] cursor-pointer text-lime-600 hover:bg-neutral-900/5"  type="button" (click)="toggleUpdate()"><fa-icon [icon]="'pen'"/></button>
          }
          <button class="w-[1.2rem] h-[1.2rem] rounded-full text-[.7rem] cursor-pointer text-red-600 hover:bg-red-600/5" type="button" (click)="deleteComment()"><fa-icon [icon]="'trash'"/></button>
        </div>
      }
  </div>
  
  @if (updateToggle) {
    <div class="bg-white p-2 rounded-md">
      <input [disabled]="!comment.is_owned" [value]="comment.message" class="input-box w-full outline-none border-[.1em] border-neutral-300 p-2 focus:border-lime-500 rounded-sm" #umessage>
      <div class="flex gap-1 py-2 items-center justify-end">
        <button class="border-button text-[.9rem]" (click)="toggleUpdate()">Cancle</button>
        <button class="button text-[.9rem]" (click)="updateComment(umessage.value)">Edit</button>
      </div>
    </div>
  } @else {
    <p class="text-base">{{ comment.message }}</p>
  }
</div> 