@import url(../auth/auth.component.css);
@import url(../auth/components/registration/registration.component.css);

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #ECF4FA;
  color: #2C3E50;
  border-radius: .4em;
  padding: 1em;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: normal;
}
.card span {
  font-size: 1rem;
}
.card fa-icon {
  font-size: 3rem;
}
.card button {
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: .1em solid #2C3E50;
  border-radius: .2em;
  padding: .5em 1em;
}
.card button:hover {
  background-color: #00000013;
}