<div class="outer-wrapper">
  <div class="logo">
    <h1 id="logo">BlogApp</h1>
  </div>

  <div class="line"></div>

  @if (!verified) {
    <div class="form-wrapper">
      <p>Enter the activation code to verify your email address.</p>
    
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="code">Activation Code</label>
          <input type="text" id="code" placeholder="A3JsW9" formControlName="code">
          @if (formError && (formControls['code'].errors && formControls['code'].errors['required'])) {
            <span class="error">*Activation code is required</span>
          }
    
          @if (formError && ((formControls['code'].errors && formControls['code'].errors['minlength'])) || formControls['code'].errors && formControls['code'].errors['maxlength']) {
            <span class="error">*Activation code must be 6 character long.</span>
          }
        </div>
    
        <br>
       
        <div class="btn-group">
          <button type="submit">Verify</button>
          <button type="button" (click)="resend()">Resend Code</button>
        </div>
      </form>
    </div>  
  }

  @if (verified) {
    <div class="card">
      <h1>Email Verifed</h1>
      <span>Your email address successfully verified</span>
      <fa-icon [icon]="checkIcon"></fa-icon>
      <button type="button" (click)="continue()">Continue</button>
    </div>
  }
</div>