fa-icon {
  font-size: .8rem;
  color: #2C3E50;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .4em;
  cursor: pointer;
  border-bottom: .1rem solid #e0e0e0;
  padding: 1em;
}

#author {
  font-size: .9rem;
  color: #7c7c7c;
  margin-bottom: .8em;
}
#author strong {
  color: #2C3E50;
}

#title {
  font-size: 2rem;
  color: #2C3E50;
  margin-bottom: .1em;
}

#content {
  margin-bottom: 1em;
}

.metadata {
  display: flex;
  gap: 1em;
  color: #2C3E50;
}
.metadata #data {
  font-size: .9rem;
}