<div class="wrapper">
  <div>
    <h1 class="text-[2rem] font-semibold text-neutral-900 text-center mb-4">Blogify</h1>
    <span class="text-[1.5rem] font-medium text-neutral-700 text-center">Sign in to your account</span>
  </div>

  <div class="mt-4 w-full">
    <form class="flex flex-col gap-2" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="email">Email</label>
        <input class="input-box" type="email" id="email" placeholder="eg.jhondoeemail.com" formControlName="email">
        @if (formError && (formControls['email'].errors && formControls['email'].errors['required'])) {
          <span>*Email is required</span>
        }

        @if (formError && (formControls['email'].errors && formControls['email'].errors['email'])) {
          <span>*Enter a valid email</span>
        }
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input class="input-box" type="password" id="password" placeholder="secret-key" formControlName="password">
        @if (formError && (formControls['password'].errors && formControls['password'].errors['required'])) {
          <span>*Password is required</span>
        }

        @if (formError && (formControls['password'].errors && formControls['password'].errors['minlength'])) {
          <span>*Password must contain at least 8 characters.</span>
        }
      </div>

      <br>
   
      <div class="flex flex-col gap-2">
        <button class="button" type="submit">Login</button>
        <button class="border-button" type="button" (click)="createAccount()">Create Account</button>
      </div>
    </form>
  </div>
</div>
