.wrapper {
  width: min(100%, 1200px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em;
}

.translusent-bg {
  background-color: #00000021;
}

.overlay {
  display: none;
}

.avtar:hover .overlay {
  display: flex;
}

.form-container {
  width: min(100%, 500px);
  background-color: #fff;
  border-radius: .5em;
  padding: 2em;
}

fa-icon {
  font-size: .8rem;
}