<div class="wrapper">
    <div class="flex flex-col gap-1 w-full my-2">
      <label class="text-[.8rem]" for="title">Title</label>
      <input class="input-box" type="text" id="title" placeholder="Title for your story" #title>
    </div>

    <div class="flex flex-col gap-1 w-full mt-5">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor
      [editor]="editor" 
      [(ngModel)]="html"
      [disabled]="false"
      [placeholder]="'Type here...'"
      />
    </div>
    
    <div class="flex gap-4 mt-4">
      <button class="button" type="button" (click)="publish()">Publish</button>
      <button class="border-button" type="button" (click)="cancle()">Cancle</button>
    </div>
</div>